#override("title")
SpringWind - 用户充值记录
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>充值管理</a></li><li class="active"><strong>用户充值记录</strong></li>
#end
#override("content")
<div class="row">
	<div class="row">
		<div class="col-sm-12">
			<table id="dataTable"></table>
		</div>
	</div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl="#springUrl('/pay/listRecordUserPayByManager')";
    var dataColumns = [{
        field: 'payUserId',
        title: '用户id',
    }, {
        field: 'payOrderNumber',
        title: '订单号',
    },{
        field: 'payAmount',
        title: '充值金额',
    },{
        field: 'payTime',
        title: '充值时间',
	},{
        field: 'payOrderType',
        title: '支付方式',
	}
    ];
    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset //页码
        };
    }
</script>
#end
#extends("/common/framework.html")
