#override("title")
SpringWind - 用户管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>交易信息</a></li><li class="active"><strong>交易列表</strong></li>
#end
#override("content")
<div class="row">
    <div class="col-sm-12">
        <table id="dataTable">

		</table>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl = "#springUrl('/transaction/getTransactionList.html')";
    var dataColumns = [{
        field: 'id',
        title: '序号'
    }, {
        field: 'companyInfo.name',
        title: '用户账号'
    }, {
        field: 'freeze',
        title: '公司账号'
    },{
        field: 'companyInfo.phone',
        title: '交易金额'
    },{
        field: 'companyInfo.electricity',
        title: '交易电价'
    },{
        field: 'companyInfo.electricity',
        title: '交易时间'
    }];
    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset, //页码
        };
    }
</script>
#end
#extends("/common/framework.html")
